body {
  background-color: #AF9164;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

#playingTable {
  position: relative;
  width:350px;
  height:600px;
  left: auto;
  top:auto;
  background-color: #6C698D;
  margin:4px auto 0px;
  display:inline-block;
}

#basket {
  position:absolute; top:599px; left:135px;
  width:78px; height:20px;
  background-color:black;
  border-radius: 60px 60px 60px 60px;
}

#snowflakes {
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 0;
  border-radius: 40px 40px 40px 40px;
}

p {
  position: relative;
  text-align: center;
  padding-top: 150px;
}

#start, #reset {
  width: 173px;
  height: 50px;
  background-color: #54494B;
  display: inline-block;
  text-align: center;
  margin-top: 4px;
}

#start:hover {
  background-color: #6C698D;
  cursor:crosshair;
}

#reset:hover {
  background-color: #6C698D;
  cursor: crosshair;
}

#textOnButtons {
  padding-top: 15px;
  font-family: 'Russo One', sans-serif;
  color: #AF9164;
  font-size: 25px;
}

.scoreText {
  font-family: 'Russo One', sans-serif;
  color: #AF9164;
  font-size: 25px;
  height: 70px;
}

.score {
  font-size: 45px;
}

.levelText {
  font-family: 'Russo One', sans-serif;
  color: #AF9164;
  font-size: 25px;
}

.level {
  font-size: 45px;
}

#headerLogo {
  width:350px;
  background-color: #54494B;
  height: 50px;
  margin: 0 auto;
}

#logo {
  padding-top: 15px;
  font-family: 'Russo One', sans-serif;
  color: #AF9164;
  font-size: 25px;
  margin: 4px;
}
